---
version: 2
updates:

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "18:00"
    commit-message:
      prefix: "build"
      include: "scope"
    labels:
      - dependencies
      - dependabot
    open-pull-requests-limit: 10
    rebase-strategy: auto
    versioning-strategy: "increase-if-necessary"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "18:00"
    commit-message:
      prefix: "ci"
    labels:
      - dependencies
      - dependabot
    rebase-strategy: auto
    groups:
      github-actions:
        patterns:
        - "*"
