{{ "# %s (%s)\n" | format(version.as_semver_tag(), release.tagged_date.strftime("%Y-%m-%d")) }}

{% for type_, commits in release["elements"] | dictsort if type_ != "unknown" %}
{##}
    {{  "## %s\n" | format(type_ | capitalize) }}
{##}
    {% for commit in commits if type_ != "unknown" %}
{##}
        {% if commit.scope %}
{{          "- **%s**: %s ([`%s`](%s))\n" | format(
                commit.scope,
                commit.descriptions[0],
                commit.short_hash,
                commit.hexsha | commit_hash_url
            )
}}
        {% else %}
{{          "- %s ([`%s`](%s))\n" | format(
                commit.descriptions[0] | capitalize,
                commit.short_hash,
                commit.hexsha | commit_hash_url
            )
}}
        {% endif %}
    {% endfor %}
{% endfor %}
{##}
{% if "breaking" in release["elements"] %}
{##}
### BREAKING CHANGES

    {% for type_, commits in release["elements"] | dictsort if type_ != "unknown" %}
{##}
        {% for commit in commits if type_ == "breaking" %}
{##}
            {% if commit.breaking_descriptions | length > 0 %}
                {% if commit.scope %}
{{                      "- **%s**: %s\n" | format(
                        commit.scope,
                        commit.breaking_descriptions | join("\n\n") | indent(4) | capitalize
                    )
}}
                {% else %}
{{                      "- %s\n" | format(
                        commit.breaking_descriptions | join("\n\n") | indent(4) | capitalize
                    )
}}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
