{#

## vX.X.X (YYYY-MMM-DD)

#}{{

      "## %s (%s)\n" | format(
        release.version.as_semver_tag(),
        release.tagged_date.strftime("%Y-%m-%d")
      )

}}{%  set commit_objects = release["elements"] | dictsort
%}{%  include "changes.md.j2"
-%}
