# {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% for type_, commits in release["elements"] | dictsort %}
## {{ type_ | capitalize }}
{% for commit in commits %}{% if type_ != "unknown" %}
* {{ commit.commit.message.rstrip() }}
{% else %}
* {{ commit.commit.message.rstrip() }}
{% endif %}{% endfor %}{% endfor %}
